:root{
    --themeMain: rgb(230, 88, 32);          /* main theme variable */
    --themeBackground: rgb(59, 59, 59);   /* main background color */
    --themeIndent: rgb(189, 70, 23);        /* when a button is pressed or other ways to emphasize an area */
    --themeHover: rgb(142, 140, 216);       /* stuff like when hovering over buttons */
    --themeGre: rgb(100,200,100);           /* green used during login */
    --themeRed: rgb(216, 64, 64);           /* red  for deleting stuff I guess*/
    --themeText: rgb(255,255,255);           /* text color */
    --themeNavText: rgb(255,255,255);        /* navigation text*/
}
nav{/* why is there a margin that doesn't show up? I hate css*/
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    margin:0px 0px 0px 0px;
    height:2.5rem;
    padding-top:0.2rem;
    padding-bottom:0.1rem;
    background:var(--themeMain);
    display:flex;
    gap:1rem;
    justify-content:space-between;
    align-items:center;
    align-content:center;
}
nav > div{
    margin-bottom:0.3rem;
}
.offset{/*spacing needed so that stuff doesn't appear under the nav bar*/
    height:2.5rem;
}
body{
    margin:0% 2% 0% 2%;
    background:var(--themeBackground);
    color:var(--themeText);
}
a{
    border-radius:0.3rem;
    color:var(--themeText);
}
/**navLeft */
#navLeft{
    height:100%;
    padding-left:3%;
    padding-right:5%;
    flex-grow:9;
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    align-content:stretch;
    gap:3rem;
}
#navLeft a{
    color:var(--themeNavText);
    padding: auto;
    width:7rem;
    height:80%;
    margin-bottom:0.3rem;
    margin-top:0.4rem;
    border:0.2rem hidden;
    border-bottom:solid 0.3rem #ffffff ;
    text-decoration:none;
    font-weight:bold;
    display:flex;
    justify-content:center;
    align-items:center;
}
#navLeft a:hover{
    color:white;
    background-color:var(--themeIndent);
    border-bottom-color:var(--themeHover);
}
/**navRight */
#navRight{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    flex-wrap:nowrap;
    flex-grow:1;
    padding-right:4rem;
    height:100%;

    gap:3rem;
}
#navRight a{
    height:80%;
    width:5rem;
    color:white;
    border-bottom:solid 0.3rem #ffffff ;
    text-align: center;
    text-decoration:none;
    font-weight:bold;
    display:flex;
    align-items:center;
    justify-content:center;
}
#navRight > div > a{
    height:100%;
}

/* login stuffs */

#navRight form input{
    height:2rem;
    margin:0 0 0 0;
    border-radius:0.3rem;
}
#login{
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 65%;
    background-color:var(--themeIndent);
    padding:1rem;
    border-radius:0.3rem;

    height:100%;
    width:30rem;
    flex-grow:2;
    display:flex;
    
    flex-direction:row;
    justify-content:space-between;
    align-content:center;
    align-items:center;
    grid-template-columns: auto auto auto;

    
    border-radius:0.5rem;
    background-color:var(--themeIndent);
    border-bottom:solid white 0.3rem;
}
#reg:hover{
    background-color:var(--themeGre);
}
#log:hover{
    display:relative;
    background-color:var(--themeHover);
    height:80%;
}

/**error alert thingy */
.err{
    position: absolute;
    display:block;
    border:solid rgb(204, 61, 61);
    background-color:rgb(245, 200, 200);
    min-width:10%;
    min-height:5%;
    left:50%;
    top:25%;
    border-radius:0.5rem;
    transform:translate(-50%, -50%);
}

/** settings stuffs */
#settings{
    width:3rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:3rem;
}
#setButton{
    position:absolute;
    margin:0 0 0 0;
    width:2rem;
    height:2rem;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    cursor:pointer;
    border:solid white 2px;
}
#themes{ 
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    background-color:var(--themeMain);

    height:10rem;
    top:3rem;
    width:3rem;
    border-radius:10px;
}
.themeSelect{
    border-radius:50%;
    border:white solid;
    background-color: red;
    width:2rem;
    height:2rem;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    align-content:center;
}

#orangeLight{background-image: conic-gradient(rgb(230, 88, 32) 50%, rgb(250, 247, 240) 50%)}
#orangeDark{background-image: conic-gradient(rgb(230, 88, 32) 50%, rgb(59, 59, 59) 50%)}
#blueLight{background-image: conic-gradient(rgb(98, 117, 180) 50%, rgb(250, 247, 240) 50%)}
#blueDark{background-image: conic-gradient(rgb(98, 117, 180) 50%, rgb(59, 59, 59) 50%)}

/**logged in stuffs  I HATE CSS*/
#nameplate{
    width:20rem;  
    height:100%;
}
#minimenu{
    margin-top:0.2rem;
    cursor:pointer;
    background:var(--themeIndent);
    height:100%;
    border-radius:2rem;
    display:flex;
    justify-content:space-around;
    align-items:center;
    align-content:center;

}
#username{
    left:1rem;
    text-decoration:underline;
    text-align:center;
    vertical-align:middle;
    color:white;
    background:var(--themeMain);
    height:100%;
}
#minimenu > div{
    display:flex;
    align-items:center;
    align-content:center;
    justify-content:center;
    height:100%;
}
#image{
    width:2rem;
    height:2rem;
    border-radius:50%;
    right:1rem;
}
#hidemenu{
    display:none;
    height:15rem;
    background:var(--themeIndent);
    z-index: 1;
    border-radius: 0 0 2rem 2rem;
    overflow: hidden;
}
#userstuff{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    
    height:10rem;
    width:100%;
    background:var(--themeIndent);
}
#usrinfo{
    height:100%;
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    /**text stuffs */
}
#logout{
    margin-top:1rem;
    background-color:var(--themeMain);
    border-radius:2rem;
    color:white;
    width:80%;
    height:2rem;
    font-weight:bold;
    cursor:pointer;
    font-size:1rem;
    border: 0.1rem solid white;
}
#logout:hover{
    background-color:var(--themeIndent);
}
#usrimage{/**image */
    position:absolute;
    width:10rem;
    height:10rem;
    border-radius:50%;
    background-color:var(--themeBackground);
    visibility:visible;
    margin: 0 0 0 0;
}
#imageForm{
    top:-10rem;
    margin-top:0rem;
    height:100%;
    width:60%;
}
#imageForm label{
    visibility:visible;
    display:relative;
    position:absolute;
    width:10rem;
    height:10rem;
    border-radius:50%;
    cursor:pointer;
}
#imageForm input{/**input */
    display:none;
}
#thememenu{
    display:flex;
    flex-direction:row;
    height:5rem;
    justify-items:center;
    align-items:center;
    justify-content:space-around;
    gap: 1rem 1rem;
}



/*search stuff*/
#searchForm{
    position:relative;
    margin:2rem;
    max-width:50%;
}
#search{/*search bar*/
    width:50%;
    height:10%;
}
#searchSubmit{

}
/*tag stuffs*/
#tagLister{
    display:flex;
    gap:1rem;
    flex-direction:row;
    flex-wrap:wrap;
    background:var(--themeIndent);
    width:50rem;
    height:10rem;
    padding:1rem;
    margin-top:2rem;
    overflow:scroll;
    overflow-x:hidden;
}
.tag{/*the tag <a> element containing the tag name and tag Desc*/
    width:5rem;
    height:2rem;
    padding:1rem, 1rem, 1rem, 1rem;
    flex-basis:auto;
    background-color:red;
    padding:auto;
    display:flex;
    align-items: center;
    position:relative;
    border-radius: 10px;
}
.tagName{
    display:flex;
    background:red;
    min-width:5rem;
    height:2rem;
    text-align:center;
    align-items:center;
    padding-top:1%;
    background:var(--themeMain);
    cursor:pointer;
    line-height:100%;
}
/* PROBLEM: max-height and max-width don't work, the values just stay at min ALWAYS */
.tagDesc{/* I hate css so much, why doesn't max-height nor min-height work here*/
    display:inline-block;
    position:absolute;
    z-index: 1;
    top:100%;
    padding:0.5rem;
    min-height:1rem;
    max-height:10rem;
    min-width:4rem;
    max-width:10rem;
    border-radius:0.3rem;
    background:var(--themeHover);
    visibility:hidden;
}
.tag:hover .tagDesc{
    visibility:visible;
}
.tagYes{
    background:rgb(178, 233, 153);
    border:rgb(101, 228, 85) solid;
}
.tagNo{
    background:rgb(255, 192, 192);
    border:rgb(255, 112, 112) solid;
}



/* tags.php*/
#TagPage{
    display:flex;
    gap:1rem;
    flex-direction:row;
    flex-wrap:wrap;
    background:var(--themeIndent);
    width:80%;
    margin:2% 2% 0% 2%;
    height:10rem;
    padding:1rem;
    margin-top:2rem;
}
.Tag{
    width:10rem;
    height:3rem;
    padding:1rem, 1rem, 1rem, 1rem;
    flex-basis:auto;
    background-color: var(--themeMain);
    padding:auto;
    display:flex;
    align-items: center;
    position:relative;
    border-radius:10px;
}
.TagName{
    display:flex;
    width:5rem;
    height:2rem;
    justify-content: center;
    text-align:center;
    align-items:center;
    padding-top:1%;
    cursor:pointer;
    line-height:100%;
}
.TagDesc{
    position:absolute;
    z-index: 1;
    top:110%;
    background-color:var(--themeHover);
    padding:1rem;
    min-height:1rem;
    max-height:10rem;
    min-width:5rem;
    max-width:10rem;
    border-radius:0.3rem;
    visibility:hidden;
}
.Tag:hover .TagDesc{
    visibility:visible;
}
.TagDelForm{
    background-color:var(--themeRed);
    overflow:hidden;
    width: 50%;
    height:50%;
}
.TagDelSub{
    width: 100%;
    height:100%;
    background:var(--themeRed);
    color:var(--themeText);
}
#TagAddForm{
    background:var(--themeIndent);
    margin:1rem 2rem 1rem 2rem;
    width:40rem;
    padding:1rem;
    display:flex;
    justify-content:space-around;
}
#TagAddName{

}
#TagAddDesc{

}
#TagAddSub{

}

/* index.php images */
#listedImages{
    max-width:96%;
    margin:2% 2% 0% 2%;
    display:flex;
    flex-direction:row;
    align-items:center;
    flex-wrap:wrap;
    gap:1rem;
}
.imageObject{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    max-width:20rem;
    max-height:20rem;
    border:var(--themeText) solid 1px;
}
.imageView{
    max-width:19rem;
    max-height:20rem;
}


/*add image form stuff*/
#openAddImg{
    padding:1rem;
    background:var(--themeMain);
}
#addImgForm{
    padding:1rem;
    margin:2rem;
    background:var(--themeIndent);
    width:50%;
    height:15rem;
    display:flex;
    flex-direction:column;
}
#addImgInputs{
    background:var(--themeMain);
    padding:1rem;
    display:flex;
    flex:row nowrap;
    justify-content:space-between
}
#addImgSub{
    background-color:var(--themeGre);
}
#addImgText{
    width:20rem;
}
#addImgFile{}/*this is the file input for the image... I don't know how to decorate it.*/

#tagJoinList{
    height:100%;
    margin:1rem;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:1rem;
    overflow:scroll;
    overflow-x:hidden;
}
.tagJoin{
    height:2rem;
    position:relative;
    cursor:pointer;
}
.tagJoin:hover .tagDesc{
    visibility:visible;
}
.tagJoinVal{/* the input that gets appended when you select a tag you want to join*/
    width:3rem;
    height:1px;
}

/* users.php page stuff */
#searchUsers{
    padding:1rem 2rem 1rem 2rem;
}
.userList{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:1rem 1rem;
    padding:1rem;
}
.userLink{
    display:flex;
    flex-direction:row;
    background:var(--themeMain);
    width:20rem;
    height:10rem;
    border-radius:25px;
    overflow:hidden;
}
.userInfo{
    width:10rem;
    padding:1rem;
}
.userName{
    font-size:1.5rem;
}
.userCreation{
    font-size:1rem;
}
.userImage{
    max-width:100%;
    max-height:100%;
    background:var(--themeIndent)
}



/* profile.php*/

#profileSpace{
    width:70%;
    padding:1rem 10% 1rem 10%;
    margin:2% 5% 0 5%;
    background:var(--themeMain);
    display:flex;
    justify-content: space-between;
}
#profileInfo{
    padding:2rem 2rem 2rem 2rem;
}
#profileName{
    color:var(--themeNavText);
    
}
#profileImg{/* user image of user*/
    background:var(--themeIndent);
    border-radius:5rem;
    width: 32rem;
    height:32rem;
}
#profileCreation{
    
}
#profileEmail{
    
}
#profileEditDel{
    background:var(--themeRed);
}
#imageSpace{
    max-width:96%;
    margin:2% 5% 0% 5%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
    flex-wrap:wrap;
    gap:1rem;
    align-items:start;
}
.profileImage{/* images added by user */
    border:var(--themeText) solid 1px;
    width:22%;
    height:10%;
    background:var(--themeMain)
}
.imageTitle{
    color:var(--themeNavText);
}
.imageFile{
    width:100%;
    max-height:30rem;
    background:var(--themeIndent);
}
.imageDate{

}
.views{

}

/* image.php image*/
#Image{/* div containing image*/
}
#ImageInfo{/* text info about image*/

}
#ImageTags{/* current tags of the image*/
    display:flex;
    flex:wrap row;
    padding:1rem;
    gap:1rem;
}
#ImageTitle{

}
#ImageDate{

}
#ImageUser{

}
#ImageImage{/* div containing ImageFile*/

}
#ImageFile{

}
/* image.php edit image form stuff*/
#openEdit{
    padding:1rem;
    background:var(--themeMain);
}
#ImageEditStuff{
    display:none;
    background:var(--themeMain);
    padding:2rem 2rem 2rem 2rem;
    margin:2% 2% 2% 2%;
    border-radius:25px;
}
#ImageEditForm{
    background:var(--themeIndent);
}
#ImageEditText{

}
#ImageEditFile{

}
#ImageEditTagStuff{

}
#ImageTagJoinInput{/* list of tags decided to be joined(tagYes)*/
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    height:5rem;
    width:30rem;
    gap:1rem;
    padding:1rem;
    background:var(--themeGre);
}
#ImageTagList{/* list of tags not decided to be joined(tagNo)*/
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    height:10rem;
    width:30rem;
    gap:1rem;
    padding:1rem;
}
#ImageDelForm{
}
#ImageEditDel{
    background:var(--themeRed);
}

/* image.php comments*/
#ImageComments{
    margin:2% 2% 2% 2%;
}
.ImageComment{

}
.commentInfo{
    display:flex;
    flex-direction: row;
    gap:5rem;
}
.ImageCommentDelForm{

}
.ImageCommentDelSub{

}
.commentUsername{

}
.commentDate{

}
.commentText{

}






/* why is this all in one file? Because I don't make good decisions in life*/
/* benefits of putting this into different files: easier to work with(stuff doesn't interfere with eachother, no more problems with coming up with id names, etc.)*/
/* cons: having more files, doing more work*/